@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
  font-family: 'Rubik';
}
.top{
  background-image: url('./images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.text_h{
  font-weight: 500;
  padding-top: 15px;
  color: #fff;
  font-size: 1.5rem;

}